.payment-container {
    margin-top: 50px;
    min-height: 51vh;
  }
  
  .payment-form {
    max-width: 500px;
    margin: auto;
  }
  
  .payment-form .form-group {
    margin-bottom: 20px;
  }
  
  .payment-form .btn {
    margin-top: 20px;
  }
  
  .payment-form .row {
    margin-left: -5px;
    margin-right: -5px;
  }
  
  #formCardHolderName{
    margin-bottom: 20px;
  }

  #formCardNumber{
    margin-bottom: 20px;
  }

